In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps 
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing 
%matplotlib inline

In [39]:
%%time
data = pd.read_csv('NYP_45_var_new.csv')

CPU times: user 22.6 s, sys: 1.63 s, total: 24.2 s
Wall time: 26.5 s

In [40]:
normalized_data = (data - data.mean()) / data.std()

In [41]:
normalized_data.head()

,Unnamed: 0,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
0,-1.732048,-0.105677,-0.065175,-0.075661,-0.059280,-0.059319,-0.052279,-0.033151,-0.048031,-0.087187,...,-0.015316,-0.038980,-0.047118,-0.061530,-0.014216,-0.002341,-0.010709,-0.013452,0.000891,-0.014731
1,-1.732045,7.674876,3.808092,6.643730,3.571324,0.299853,0.131637,0.040634,0.128146,-0.059992,...,-0.007127,2.470297,0.109049,-0.052428,4.843146,0.022929,-0.009394,7.794866,0.152355,-0.005366
2,-1.732042,-0.020508,-0.022777,-0.002107,-0.019538,-0.037648,-0.041182,-0.028699,-0.037401,-0.032036,...,0.001292,-0.011512,-0.037695,-0.043071,0.278469,0.016766,0.006757,0.072021,0.010029,0.004262
3,-1.732039,-0.086861,-0.055809,-0.059411,-0.050501,0.107919,0.033356,0.001205,0.034001,0.190108,...,0.068188,-0.032912,0.025597,0.031280,0.073563,0.086219,0.078974,0.005430,0.071416,0.080768
4,-1.732035,0.136536,0.055402,0.133518,0.053742,13.480460,6.880813,2.748321,6.593354,35.908784,...,10.824498,0.039135,5.839902,11.986247,0.932329,7.250555,13.209501,0.229625,5.710659,12.382156

In [42]:
normalized_data.drop('Unnamed: 0',axis=1, inplace=True)
normalized_data.head()

,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,r3_byzip3,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
0,-0.105677,-0.065175,-0.075661,-0.059280,-0.059319,-0.052279,-0.033151,-0.048031,-0.087187,-0.060849,...,-0.015316,-0.038980,-0.047118,-0.061530,-0.014216,-0.002341,-0.010709,-0.013452,0.000891,-0.014731
1,7.674876,3.808092,6.643730,3.571324,0.299853,0.131637,0.040634,0.128146,-0.059992,-0.043690,...,-0.007127,2.470297,0.109049,-0.052428,4.843146,0.022929,-0.009394,7.794866,0.152355,-0.005366
2,-0.020508,-0.022777,-0.002107,-0.019538,-0.037648,-0.041182,-0.028699,-0.037401,-0.032036,-0.026052,...,0.001292,-0.011512,-0.037695,-0.043071,0.278469,0.016766,0.006757,0.072021,0.010029,0.004262
3,-0.086861,-0.055809,-0.059411,-0.050501,0.107919,0.033356,0.001205,0.034001,0.190108,0.114108,...,0.068188,-0.032912,0.025597,0.031280,0.073563,0.086219,0.078974,0.005430,0.071416,0.080768
4,0.136536,0.055402,0.133518,0.053742,13.480460,6.880813,2.748321,6.593354,35.908784,22.650495,...,10.824498,0.039135,5.839902,11.986247,0.932329,7.250555,13.209501,0.229625,5.710659,12.382156

In [43]:
normalized_data.describe()

,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,r3_byzip3,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,-5.312210e-15,-7.926859e-16,-7.110103e-15,-1.341687e-14,-1.604592e-15,2.788995e-15,-1.079869e-15,1.072267e-14,4.247027e-15,3.259232e-15,...,-8.167541e-16,-2.225430e-15,2.126662e-15,7.970515e-16,3.418994e-16,2.174928e-15,-1.624877e-15,-4.975484e-18,2.827740e-15,1.171764e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.214544e-01,-7.302943e-02,-8.928619e-02,-6.664267e-02,-1.039033e-01,-7.510791e-02,-4.230965e-02,-6.989983e-02,-9.056262e-02,-6.297871e-02,...,-1.633301e-02,-4.406825e-02,-6.650256e-02,-6.265996e-02,-4.064505e-02,-1.292932e-02,-1.125919e-02,-2.928619e-02,-1.791046e-02,-1.589397e-02
25%,-7.300198e-02,-5.902772e-02,-6.025688e-02,-5.399388e-02,-6.830279e-02,-5.044601e-02,-2.520251e-02,-4.675088e-02,-6.262496e-02,-4.528259e-02,...,-1.231796e-02,-3.480139e-02,-4.499532e-02,-4.565597e-02,-3.303949e-02,-1.113947e-02,-1.011829e-02,-2.469017e-02,-1.374171e-02,-1.220239e-02
50%,-1.513737e-02,-2.378862e-02,-3.187404e-02,-3.683987e-02,-1.490606e-02,-1.245544e-02,-1.128241e-02,-1.198596e-02,-1.702992e-02,-1.172372e-02,...,-9.391308e-03,-2.514103e-02,-1.170400e-02,-9.139694e-03,-2.563018e-02,-8.355278e-03,-7.249554e-03,-2.181301e-02,-1.148352e-02,-9.262789e-03
75%,2.453620e-02,7.013005e-03,2.952585e-03,-1.763342e-03,1.696453e-02,9.573656e-03,1.047321e-04,8.583233e-03,1.341057e-02,8.981209e-03,...,-6.588503e-03,-1.388607e-02,9.056398e-03,1.386417e-02,-1.687786e-02,-6.699705e-03,-5.557961e-03,-1.739874e-02,-9.299272e-03,-6.693290e-03
max,5.604526e+02,7.180732e+02,6.775540e+02,3.533062e+02,4.132212e+02,4.904027e+02,8.389386e+02,4.564404e+02,4.901224e+02,5.240291e+02,...,6.051872e+02,2.530138e+02,4.576790e+02,6.576444e+02,6.090319e+02,5.698118e+02,7.305163e+02,7.874311e+02,5.202641e+02,6.767496e+02

In [44]:
from sklearn.decomposition import PCA

In [45]:
features = ['r1_byzip5', 'r1_byzip3', 'r1_bytaxclass', 'r1_b', 'r2_byzip5', 'r2_byzip3',
       'r2_bytaxclass', 'r2_b', 'r3_byzip5', 'r3_byzip3', 'r3_bytaxclass',
       'r3_b', 'r4_byzip5', 'r4_byzip3', 'r4_bytaxclass', 'r4_b', 'r5_byzip5',
       'r5_byzip3', 'r5_bytaxclass', 'r5_b', 'r6_byzip5', 'r6_byzip3',
       'r6_bytaxclass', 'r6_b', 'r7_byzip5', 'r7_byzip3', 'r7_bytaxclass',
       'r7_b', 'r8_byzip5', 'r8_byzip3', 'r8_bytaxclass', 'r8_b', 'r9_byzip5',
       'r9_byzip3', 'r9_bytaxclass', 'r9_b', 'r1_all','r2_all','r3_all','r4_all','r5_all',
        'r6_all','r7_all','r8_all','r9_all']
x = data.loc[:,features].values

In [46]:
pca = PCA(n_components = 7)
principalComponents = pca.fit_transform(normalized_data)
DF = pd.DataFrame(data = principalComponents)

In [47]:
DF.shape

(1070994, 7)

In [50]:
pca.explained_variance_ratio_

array([0.5075497 , 0.22043986, 0.0705057 , 0.03901247, 0.03375162,
       0.03269504, 0.03105455])

In [54]:
# normalize PC
finalDF = (DF-DF.mean())/DF.std()
finalDF.head()

           0         1         2         3         4          5         6
0  -0.038529 -0.043415 -0.016033 -0.083661  0.026176  -0.072971 -0.038545
1   0.646714  4.704515  1.459373  1.484228 -0.757028   0.379872  2.661541
2  -0.004043  0.050772 -0.015304 -0.095961 -0.007250  -0.014726  0.012189
3   0.063969 -0.048197 -0.064285 -0.013478  0.035409   0.127186 -0.053233
4  11.119648 -3.388022 -3.417692  5.789973  5.935735  27.902060 -3.201564

# Autoencoder

In [55]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import os
os.environ['KERAS_BACKEND']='tensorflow'
from scipy import stats
import tensorflow as tf
import seaborn as sns
from pylab import rcParams
from sklearn.model_selection import train_test_split
from keras.models import Model, load_model
from keras.layers import Input, Dense
from keras.callbacks import ModelCheckpoint, TensorBoard
from keras import regularizers

In [56]:
## Autoencoder
X_train, X_test = train_test_split(finalDF, test_size=0)

X_train = X_train.values
X_test = X_test.values
X_train.shape



input_dim = finalDF.shape[1]
encoding_dim = 4

input_layer = Input(shape=(input_dim, ))
encoder = Dense(encoding_dim, activation="relu")(input_layer)
encoder_output= Dense(encoding_dim,)(encoder)


decoder = Dense(4, activation='relu')(encoder_output)
decoder = Dense(7, activation='tanh')(decoder)

autoencoder = Model(input=input_layer, output=decoder)

encoder= Model(input=input_layer, output=encoder_output)

autoencoder.compile(optimizer='adam', 
                    loss='mse')

autoencoder.fit(X_train, X_train,
                    epochs=15,
                    batch_size=64,
                    shuffle=True)

encoder.predict(X_train)

/Users/kailinghung/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: UserWarning: Update your `Model` call to the Keras 2 API: `Model(inputs=Tensor("in..., outputs=Tensor("de...)`
/Users/kailinghung/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: UserWarning: Update your `Model` call to the Keras 2 API: `Model(inputs=Tensor("in..., outputs=Tensor("de...)`

Epoch 1/15
1070994/1070994 [==============================] - 32s 29us/step - loss: 0.9829
Epoch 2/15
1070994/1070994 [==============================] - 29s 27us/step - loss: 0.9793
Epoch 3/15
1070994/1070994 [==============================] - 31s 29us/step - loss: 0.9748
Epoch 4/15
1070994/1070994 [==============================] - 30s 28us/step - loss: 0.9723
Epoch 5/15
1070994/1070994 [==============================] - 29s 27us/step - loss: 0.9726
Epoch 6/15
1070994/1070994 [==============================] - 31s 29us/step - loss: 0.9725 1s  -
Epoch 7/15
1070994/1070994 [==============================] - 30s 28us/step - loss: 0.9723
Epoch 8/15
1070994/1070994 [==============================] - 31s 29us/step - loss: 0.9724
Epoch 9/15
1070994/1070994 [==============================] - 31s 29us/step - loss: 0.9720
Epoch 10/15
1070994/1070994 [==============================] - 31s 29us/step - loss: 0.9723
Epoch 11/15
1070994/1070994 [==============================] - 29s 27us/step - loss: 0.9725
Epoch 12/15
1070994/1070994 [==============================] - 32s 30us/step - loss: 0.9724
Epoch 13/15
1070994/1070994 [==============================] - 37s 34us/step - loss: 0.9715
Epoch 14/15
1070994/1070994 [==============================] - 30s 28us/step - loss: 0.9713
Epoch 15/15
1070994/1070994 [==============================] - 29s 28us/step - loss: 0.9713

array([[ 1.2736348 ,  0.27731887, -0.34214342, -2.1237428 ],
       [ 1.3079432 ,  0.3880431 , -0.22014248, -2.0192297 ],
       [ 1.3051108 ,  0.3926733 , -0.20517921, -2.0171218 ],
       ...,
       [ 1.2129638 ,  0.22175333, -0.3073331 , -2.1942344 ],
       [ 1.3207327 ,  0.4108493 , -0.19962227, -2.0044796 ],
       [ 1.2582207 ,  0.24106067, -0.35540056, -2.1795793 ]],
      dtype=float32)

In [57]:
predictions = autoencoder.predict(X_train)
DF1 = pd.DataFrame(data = predictions)

In [58]:
#new x auto encoed x
DF1.head()

          0         1         2         3         4         5         6
0  0.008216  0.020220 -0.004937 -0.005723 -0.034935 -0.000852  0.033933
1 -0.022288 -0.041450 -0.011389 -0.087920  0.023421 -0.055813 -0.040197
2 -0.023961 -0.048818 -0.012088 -0.079329  0.027628 -0.060874 -0.048472
3  0.018150  0.066470  0.015031  0.042920 -0.061862 -0.030800  0.114956
4 -0.003028 -0.015631 -0.014492 -0.034840 -0.009601 -0.004093 -0.018725

# Score 2

In [22]:
# difference between auto encoded values and normalized PC
newDf1 = abs(finalDF - DF1)

In [23]:
# sample output of differences
newDf1.head()

           0         1         2         3         4          5         6
0   0.010457  0.003596  0.022319  0.019190  0.016447   0.010082  0.002009
1   0.657913  4.731124  1.460613  1.488176  0.756087   0.374630  2.672162
2   0.008887  0.091103  0.012472  0.097517  0.005356   0.018377  0.051765
3   0.087536  0.034801  0.072307  0.022372  0.028746   0.149374  0.065711
4  11.125670  3.384022  3.429380  5.760149  5.965347  27.897878  3.228476

In [24]:
# sum of the differences (n = 1)
newDf1['score_auto'] = newDf1.transpose().sum()

In [26]:
newDf1.head()

,0,1,2,3,4,5,6,score_auto
0,0.010457,0.003596,0.022319,0.019190,0.016447,0.010082,0.002009,0.084099
1,0.657913,4.731124,1.460613,1.488176,0.756087,0.374630,2.672162,12.140704
2,0.008887,0.091103,0.012472,0.097517,0.005356,0.018377,0.051765,0.285478
3,0.087536,0.034801,0.072307,0.022372,0.028746,0.149374,0.065711,0.460846
4,11.125670,3.384022,3.429380,5.760149,5.965347,27.897878,3.228476,60.790923

In [59]:
# largest 10 records by "score_auto"
newDf1.nlargest(10, "score_auto", keep='first')

,0,1,2,3,4,5,6,score_auto
632815,604.305100,256.180573,763.421147,124.787348,23.991097,103.990167,10.495903,1887.171334
917941,215.030777,36.771424,235.941785,227.205220,304.718144,360.169930,206.483742,1586.321023
565391,554.411261,207.666248,384.804507,248.063078,14.976169,34.124330,21.310232,1465.355825
821852,76.005308,508.092921,91.480948,97.080600,20.456628,48.791576,570.895872,1412.803853
776305,94.679508,624.344411,105.352318,140.907882,246.849522,84.989255,69.986396,1367.109292
684703,29.936440,221.930026,77.227822,137.821767,98.439117,81.583531,582.395044,1229.333747
585117,156.812609,42.372495,208.350156,220.171481,216.928548,373.107025,3.421955,1221.164268
585438,133.837234,40.780887,150.119150,280.481577,258.038980,220.931053,51.107520,1135.296401
85885,211.447533,68.375491,62.490568,93.622638,101.613410,456.603951,55.727323,1049.880915
1067359,30.205319,232.258663,90.664848,199.492306,50.327311,16.828804,359.368548,979.145800